body
{
 background-image : url(http://us.cdn2.123rf.com/168nwm/outstyle/outstyle1209/outstyle120900066/15384948-construction-site-crane-building-a-blue-java-3d-text-part-of-a-series.jpg);
background-repeat: no-repeat;
background-size: 500px 1000px;
 
}
